//Rewrite to www
// RewriteCond %{HTTP_HOST} ^www\.neerajrekwar.github\.com [NC]
// RewriteRule ^(.*)$ https://neerajrekwra.github.io/$1 [L,R=301]

RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^www\.neeerajrekwar.github(.io)$ [NC]
RewriteRule ^(.*)$ https://neerajekwra.github.io/$1 [R=301,L]