# Enable mod_rewrite and set the base for relative paths
RewriteEngine On
RewriteBase /

# Set default cache control for all resources
<IfModule mod_headers.c>
    Header unset ETag
    FileETag None
    Header set Cache-Control "max-age=604800, public"
    Header unset Last-Modified
</IfModule>

# Cache certain file types
<IfModule mod_mime.c>
    AddType application/font-woff2 .woff2
    AddType application/javascript .js
    AddType text/css .css
    AddType image/jpeg .jpeg .jpg
    AddType image/png .png
    AddType image/svg+xml .svg
</IfModule>

# Cache fonts and images for longer
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType application/font-woff2 "access plus 1 year"
    ExpiresByType application/javascript "access plus 1 year"
    ExpiresByType text/css "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/svg+xml "access plus 1 year"
</IfModule>


