* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #000000;
}
body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(/image/matt-duncan-IUY_3DvM__w-unsplash.jpg);
  display: flex;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2.3em;
  /* border: 2px solid salmon; */
}
main{
  
  
}
/* CSS styles for screens with a maximum width of 768 pixels */
@media (max-width: 768px) {
  /* Add your styles here */
}

/* CSS styles for screens with a minimum width of 769 pixels */
@media (min-width: 769px) {
  /* Add your styles here */
}

/* CSS styles for screens with a width between 480 and 767 pixels */
@media (min-width: 480px) and (max-width: 767px) {
  /* Add your styles here */
}
