* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #fff;
}
body, main {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  justify-content: center;
  justify-items: center;
}