* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Alata', sans-serif; */
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
:root{
  --primary-background-color: #3E92CC;
  --secondry-background-color: #2A628F;
  --thirdly-background-color: #13293D;
  --text-color: #16324F;
  --secondry-text-color: #18435A;

}
body {
  color: rgb(16, 33, 48);
  /* background: var(--thirdly-background-color); */
  background: linear-gradient(270deg, #EBF4F5ff, #E2ECF2ff, #D9E5EEff, #D0DDEBff, #C7D5E7ff, #BECEE4ff, #B5C6E0ff);;
}
header{
  /* border: solid ; */
  
}
nav{
  display: flex;
  justify-content: space-between;

  /* border: solid salmon; */
}
li  {
  list-style: none;
  margin: 5px;
  text-decoration: none;
}
ul {
  display: flex;
}

.link{
  margin: 5px;
  text-decoration: none;
}

.main-container{

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
}
.link:hover{
  color: aqua;
  text-decoration: none;
}
.btn-box{
/* border: solid; */
  height: 50px;
}
span a {
  width: max-content;
  max-height: max-content;
  height: 120px;
}

@media (max-width: 400px) {
  nav {
    display: none;
  }
}
